{% comment %} <!-- Parking/templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Smart Parking System</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="auth-page">
        <form class="auth-form" action="{% url 'login' %}" method="post">
            <h2>Login</h2>
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p class="message {{ message.tags }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </form>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Smart Parking System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="auth-page">
        <form class="auth-form"  action="{% url 'status' %}" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
            
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </form>
    </div>
    {% load static %}
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
